services:
  consul:
   image: hashicorp/consul:latest
   ports:
     - 8500:8500
   container_name: consul-container

  sql:
    image: mcr.microsoft.com/mssql/server:2025-latest
    container_name: sqlpreview
    hostname: sqlpreview
    ports:
      - "1433:1433"
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Password.123"
      MSSQL_PID: "Evaluation"
    restart: unless-stopped

  keycloak:
   image: quay.io/keycloak/keycloak:latest
   command: start-dev
   environment:
    KEYCLOAK_ADMIN: admin
    KEYCLOAK_ADMIN_PASSWORD: admin
   ports:
    - 8080:8080
   container_name: keycloak

  ocelot:
   build:
    dockerfile: Microservice.OcelotGateway/Dockerfile
   ports:
    - 5001:8080
   container_name: ocelot-gateway

  category1:
   build:
    dockerfile: Microservice.CategoryWebAPI/Dockerfile
   ports:
    - 5003:8080
   container_name: category1-webapi

  product1:
   build:
    dockerfile: Microservice.ProductWebAPI/Dockerfile
   ports:
    - 5004:8080
   container_name: product1-webapi

  category2:
   build:
    dockerfile: Microservice.CategoryWebAPI/Dockerfile
   ports:
    - 6003:8080
   container_name: category2-webapi

  product2:
   build:
    dockerfile: Microservice.ProductWebAPI/Dockerfile
   ports:
    - 6004:8080
   container_name: product2-webapi

  category3:
   build:
    dockerfile: Microservice.CategoryWebAPI/Dockerfile
   ports:
    - 7003:8080
   container_name: category3-webapi

  auth:
   build:
    dockerfile: Microservice.AuthWebAPI/Dockerfile
   ports:
    - 9000:8080
   container_name: auth-webapi
    